body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #12121200;
    background-color: rgb(33, 33, 33);
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color:rgb(56, 56, 56);
    color: white;
    margin: 40px;
}
img{
    height: 500px;
    width: 500px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: rgb(35, 35, 35);
    color: white;

}